.navbar {
  display: flex;
  align-items: center;
  padding: 0 4rem;
  height: 4vh;

  *:link,
  *:visited {
    text-decoration: none;
    color: rgb(53, 53, 53);
  }

  .navbar-brand:link,
  .navbar-brand:visited {
    font-weight: 700;
    font-size: 2rem;
  }

  .navbar-link-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;

    .navbar-link:link,
    .navbar-link:visited {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      font-size: 1.7rem;
    }
    .navbar-link-active:link,
    .navbar-link-active:visited {
      background-color: #a61f08;
      color: #f9f9f9;
    }
  }
}
